<section class="section section--feedbacks">
	<div class="feedbacks">
		<div class="container">
			<div class="feedbacks__inner">
				<div class="feedbacks__item-wrapper">
					<div class="feedbacks__item">
						<div class="section__tittle">What our clients say?</div>
						<p class="section__text section__text--feedbacks">See what our clients say about their new home</p>
						<button class="btn btn--more">See more</button>
					</div>
				</div>
				<div class="feedbacks__content">
					<div class="feedbacks__content-wrapper">
						<div class="feedbacks__content-inner">
							<div class="feedbacks__content-avatar">
								<img class="img" src="./assets/img/feedbacks/avatar.jpg" alt="author photo">
							</div>
							<p class="feedbacks__content-text">I really happy to see the result my new home. It’s really good house and good price too. And they work so fast becasue they have the best team. Once again, thankyou. I really appreciate it.</p>
							<p class="feedbacks__content-author">- Mr. Roberto</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
