<footer class="footer">
	<div class="footer__main">
		<div class="container container--footer">
			<div class="footer__inner">
				<div class="footer__logoside">
					<div class="footer__logo"><a href="./index.html"><span class="footer__logo-text">DB-</span></a></div>
					<p class="footer__address">Lizenzo street number 12<br>Jakarta, Indonesia</p>
					<button class="btn btn--footer">Get directions</button>
				</div>

				<div class="footer__sitemap">
					<div class="footer__spoller-block" data-spollers="767,max" data-one-spoller>

						<div class="footer__spoller">
							<button tabindex="-1" type="button" data-spoller class="footer__spoller-tittle">Menu</button>
							<ul class="footer__spoller-list">
								<li class="footer__spoller-item"><a href="./index.html" class="footer__spoller-link">Home</a></li>
								<li class="footer__spoller-item"><a href="./about.html" class="footer__spoller-link">About</a></li>
								<li class="footer__spoller-item"><a href="#" class="footer__spoller-link">Gallery</a></li>
								<li class="footer__spoller-item"><a href="./services.html" class="footer__spoller-link">Service</a></li>
							</ul>
						</div>

						<div class="footer__spoller">
							<button tabindex="-1" type="button" data-spoller class="footer__spoller-tittle">Contact</button>
							<ul class="footer__spoller-list">
								<li class="footer__spoller-item"><a href="#" class="footer__spoller-link">E-mail</a></li>
								<li class="footer__spoller-item"><a href="#" class="footer__spoller-link">Mobile</a></li>
								<li class="footer__spoller-item"><a href="#" class="footer__spoller-link">Whatsapp</a></li>
								<li class="footer__spoller-item"><a href="#" class="footer__spoller-link">Fax</a></li>
							</ul>
						</div>

						<div class="footer__spoller">
							<button tabindex="-1" type="button" data-spoller class="footer__spoller-tittle">Career</button>
							<ul class="footer__spoller-list">
								<li class="footer__spoller-item"><a href="#" class="footer__spoller-link">Job</a></li>
								<li class="footer__spoller-item"><a href="#" class="footer__spoller-link">Part-time</a></li>
								<li class="footer__spoller-item"><a href="#" class="footer__spoller-link">Internship</a></li>
								<li class="footer__spoller-item"><a href="#" class="footer__spoller-link">Service</a></li>
							</ul>
						</div>

						<div class="footer__spoller">
							<button tabindex="-1" type="button" data-spoller class="footer__spoller-tittle">Business</button>
							<ul class="footer__spoller-list">
								<li class="footer__spoller-item"><a href="#" class="footer__spoller-link">Affiliate</a></li>
								<li class="footer__spoller-item"><a href="#" class="footer__spoller-link">Collaboration</a></li>
								<li class="footer__spoller-item"><a href="#" class="footer__spoller-link">Investment</a></li>
								<li class="footer__spoller-item"><a href="#" class="footer__spoller-link">People</a></li>
							</ul>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer__copyright">
		<span>2021 - Copyright ZHB Studio</span>
	</div>
</footer>
