<section class="section section--intro">
	<div class="intro">
		<div class="container container--intro">
			<div class="intro__inner">
				<h1 class="intro__tittle">We build your dream house well and professionally</h1>
				<p class="intro__text">Our team can build a house according to your wishes. Any design and concept, we will help make it happen</p>
				<button class="btn btn--intro" type="button">Contact us</button>
			</div>
		</div>

	</div>
	<div class="intro__bg">
		<div class="intro__bg-wrapper">
			<img class="intro__bg-img" src="./assets/img/intro-bg.jpg" alt="">
		</div>
	</div>
</section>