<section class="section section--partners">
	<div class="partners">
		<div class="container">
			<div class="partners__inner">
				<div class="partners__inner-wrapper">
					<h2 class="section__tittle">Our Partners</h2>
					<div class="partners__content">
						<a href="#" class="partners__link">
							<div class="partners__logo">
								<img class="img" src="./assets/img/partners/JConstruct.png" alt="J.construct">
							</div>
						</a>
						<a href="#" class="partners__link">
							<div class="partners__logo">
								<img class="img" src="./assets/img/partners/Arch.png" alt="Arch">
							</div>
						</a>
						<a href="#" class="partners__link">
							<div class="partners__logo">
								<img class="img" src="./assets/img/partners/WhixCo.png" alt="Whix.co">
							</div>
						</a>
						<a href="#" class="partners__link">
							<div class="partners__logo">
								<img class="img" src="./assets/img/partners/DZIKRA.png" alt="DZIKRA">
							</div>
						</a>
					</div>
				</div>
				<div class="partners__video">
					<div class="partners__video-preview">
						<img class="img" src="./assets/img/partners/video-preview.jpg" alt="">
						<button class="btn btn--play" type="button"></button>
						<div class="partners__video-description">
							<span>This is the timelapse video that shows how our teams work</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
