<section class="section section--subscribe">
	<div class="subscribe">
		<div class="container">
			<div class="subscribe__inner">
				<h3 class="subscribe__tittle">Want to get our offer updates and news?</h3>
				<p class="subscribe__text">Submit your e-mail and we will give you update about information and discount. Every single week. (not spamming)</p>

				<div class="subscribe__input-wrapper">
					<form action="/">
						<input type="email" name="email" placeholder="Enter your e-mail here">
						<button class="btn btn--submit" type="submit">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
