<section class="section section--works">
	<div class="works">
		<div class="container">
			<div class="works__inner">
				<h2 class="section__tittle">Our works</h2>
				<p class="section__text">Here our some of the best the result when we build some buildings, houses, and also interior designs</p>

				<div class="works__gallery">
					<img src="./assets/img/works/image-01.jpg" alt="" class="works__gallery-img img">
					<img src="./assets/img/works/image-02.jpg" alt="" class="works__gallery-img img">
					<img src="./assets/img/works/image-03.jpg" alt="" class="works__gallery-img img">
					<img src="./assets/img/works/image-04.jpg" alt="" class="works__gallery-img img">
					<img src="./assets/img/works/image-05.jpg" alt="" class="works__gallery-img img">
					<img src="./assets/img/works/image-06.jpg" alt="" class="works__gallery-img img">
					<img src="./assets/img/works/image-07.jpg" alt="" class="works__gallery-img img">
					<img src="./assets/img/works/image-08.jpg" alt="" class="works__gallery-img img">
					<img src="./assets/img/works/image-09.jpg" alt="" class="works__gallery-img img">
				</div>

				<button class="btn btn--more btn--works" type="button">See more</button>

			</div>
		</div>
	</div>
	</div>
</section>
